<div id="newHeader">
  <h1 class="newNames"><%= @user.name %></h1>
</div>

<div class="showUser">
  <div id="showUser2">
<p class="newNames"><strong>Phone:</strong> <%= @user.phone %><br></p>
<p class="newNames"><strong>Email:</strong> <%= @user.email %><br><br></p>

<strong>What was brought in?</strong>

<%= form_for @item do |f|  %>

<div class = 'field'>
   <%=  f.label :name %>
   <%=  f.text_field :name %>
   <%=  f.label :phone %>
   <%=  f.text_field :phone %>
   <%=  f.label :email %>
   <%=  f.text_field :email %>
   <%=f.hidden_field :user_id, :value => @user.id %>
</div>


    t.string   "name"
    t.string   "phone"
    t.string   "email"
    t.integer  "event_id"


  <%= f.submit "add items", :class => 'btn btn-primary' %>
<% end  %>

<br>

<strong>All cups brought</strong> <br>
<br>
<% @user.items.each do |item| %>

  <%= item.no_cups %> Stompie Cups and <%= item.no_cups_plastic %> Plastic Cups, Brought at:
  <%= item.created_at.to_formatted_s(:short) %>
  <br>
  <% end %>

  <br>

  <%= @user.name %>'s Total Stompie Cups
  <%= @user.items.sum(:no_cups) %>

  <br>
  <%= @user.name %>'s Total Plastic Cups
  <%= @user.items.sum(:no_cups_plastic) %>

<br><br>

<strong>Total cups overall</strong><br>

Total Stompie Cups: <%= @items.map(&:no_cups).inject(0,:+) %> <br>
Total Plastic Cups: <%= @items.map(&:no_cups_plastic).inject(0,:+) %>

<br>
<br>
<br>


<%= link_to 'all users', users_path %>
  </div>
<%=image_tag("http://bit.ly/W1EvJC", :class=> "cigButt") %>
</div>